<h1>{{ manga.title }}</h1>

<nav>
    <img [src]="manga.coverImage" />
    <img [src]="manga.bannerImage" />
</nav>

<article>
    <h2>Synopsis</h2>

    <p>{{ manga.synopsis }}</p>
</article>

<article>
    <h2>Tomes</h2>

    <div style="display: flex; column-gap: 10px; flex-wrap: wrap;">
        <div *ngFor="let volume of manga.volumes"
          style="display: flex; flex-direction: column; align-items: center;">
          
          <img [src]="volume.coverImage" [alt]="volume.number">
          <a routerLink="/manga/{{ manga.id }}/volume/{{ volume.id }}">
            Tome {{ volume.number }}
          </a>
        </div>
      </div>

      <a routerLink="/manga/{{manga.id}}/volume/add">Ajouter un tome</a>
</article>

<article>
    <h2>Statistiques</h2>

    <p>{{ manga.averageRating }}</p>
    <p>{{ manga.ratingRank }}</p>
    <p>{{ manga.popularity }}</p>
    <p>{{ manga.userCount }}</p>
    <p>{{ manga.favoritesCount }}</p>

</article>