<h2>{{ episode.anime.title }} - Saison {{ episode.season.number }}</h2>

<table>
  <tbody>

    <tr>
      <th>Numéro de l'épisode dans la saison</th>
      <td>
        <input type="number" [(ngModel)]="episode.relativeNumber">
      </td>
    </tr>

    <tr>
      <th>Numéro de l'épisode</th>
      <td>
        <input type="number" [(ngModel)]="episode.number">
      </td>
    </tr>

    <tr>
      <th>Titre alternatifs</th>
      <td>
        <div *ngFor="let title of episode.titles | keyvalue:unsorted; let index = index">
          <select [ngModel]="title.key | lowercase" (change)="onTitleLanguageChanged(index, $event.target.value)">
            <option disabled selected value>------</option>
            <option *ngFor="let language of languages" [value]="language.code | lowercase">{{ language.name }}</option>
          </select>
          <input type="text" [ngModel]="episode.titles[title.key]"
            (change)="episode.titles[title.key] = $event.target.value">
          <a href="javascript: void(0)" (click)="onTitleLanguageRemoved(index)">X</a>
        </div>
        <a href="javascript: void(0)" (click)="onTitleLanguageAdded()">Ajouter un titre</a>
      </td>
    </tr>

    <tr>
      <th>Date de sortie</th>
      <td>
        <input type="date" [(ngModel)]="episode.airDate">
      </td>
    </tr>

    <tr>
      <th>Type d'épisode</th>
      <td>
        <select [(ngModel)]="episode.episodeType">
          <option selected value=""></option>
          <option *ngFor="let type of episodeType | enum" [value]="type.key">{{type.value}}</option>
        </select>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" (click)="submit()" value="Envoyer">
      </td>
    </tr>

  </tbody>
</table>
