<main>
  <table>
    <tbody>

      <tr>
        <th>
          <label>Titre</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.canonicalTitle">
        </td>
      </tr>

      <tr>
        <th>
          <label>Titre français</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.titles.fr">
        </td>
      </tr>

      <tr>
        <th>
          <label>Titre anglais</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.titles.en">
        </td>
      </tr>

      <tr>
        <th>
          <label>Titre romanisé</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.titles.en_jp">
        </td>
      </tr>

      <tr>
        <th>
          <label>Titre japonais</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.titles.ja_jp">
        </td>
      </tr>

      <tr>
        <th>
          <label>Date de sortie</label>
        </th>
        <td>
          <input type="date" [(ngModel)]="anime.startDate">
        </td>
      </tr>

      <tr>
        <th>
          <label>Date de fin</label>
        </th>
        <td>
          <input type="date" [(ngModel)]="anime.endDate">
        </td>
      </tr>

      <tr>
        <th>
          <label>Pays</label>
        </th>
        <td>
          <select [(ngModel)]="anime.origin">
            <option *ngFor="let origin of animeOrigin | enum" [value]="origin.key">{{ origin.value }}</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>
          <label>Status de publication</label>
        </th>
        <td>
          <select [(ngModel)]="anime.status">
            <option *ngFor="let status of animeStatus | enum" [value]="status.key">{{status.value}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>
          <label>Type</label>
        </th>
        <td>
          <select [(ngModel)]="anime.animeType">
            <option *ngFor="let type of animeType | enum" [value]="type.key">{{type.value}}</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>Episodes</th>
        <td>
          <input type="number" [(ngModel)]="anime.seasonCount" placeholder="Nombre de saisons">
          <div style="max-height: 600px; overflow-y: auto">
            <div *ngFor="let seasonNumber of anime.seasonCount | repeat">
              <div>
                <span>Saison {{ seasonNumber }}</span>
                <input type="number" placeholder="Nombres d'épisodes"
                  (keyup)="updateEpisodes(seasonNumber, $event.target.value)">
              </div>
              <table>
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Titre français</th>
                    <th>Titre anglais</th>
                    <th>Titre romanisé</th>
                    <th>Titre japonais</th>
                    <th>Date de diffusion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let episode of anime.episodes | filter:'seasonNumber':seasonNumber">
                    <td><span>S{{ episode.seasonNumber }} | E{{ episode.relativeNumber }} (E{{ episode.number }})</span>
                    </td>
                    <td><input type="text" [(ngModel)]="episode.titles.fr"></td>
                    <td><input type="text" [(ngModel)]="episode.titles.en"></td>
                    <td><input type="text" [(ngModel)]="episode.titles.en_jp"></td>
                    <td><input type="text" [(ngModel)]="episode.titles.ja_jp"></td>
                    <td><input type="date" [(ngModel)]="episode.airDate"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <th>
          <label>Durée par épisode</label>
        </th>
        <td>
          <input type="number" [(ngModel)]="anime.episodeLength">
        </td>
      </tr>

      <tr>
        <th>
          <label>Synopsis</label>
        </th>
        <td>
          <textarea rows="8" cols="33" [(ngModel)]="anime.synopsis"></textarea>
        </td>
      </tr>

      <tr>
        <th>
          <label>Image</label>
        </th>
        <td>
          <img [src]="anime.coverImage" alt="coverImage">
          <input type="file" accept="image/*" (change)="updateCover($event.target.files[0])">
        </td>
      </tr>

      <tr>
        <th>
          <label>Vidéo youtube</label>
        </th>
        <td>
          <input type="text" [(ngModel)]="anime.youtubeVideoId" (ngModelChange)="updateYoutubeVideo()">
        </td>
      </tr>

      <tr>
        <th>Genres</th>
        <td>
          <div>
            <div *ngFor="let genre of anime.genres">
              <div *ngIf="genre.id != undefined">
                <select [(ngModel)]="genre.id">
                  <option *ngFor="let g of genres" [value]="g.id">{{ g.titles.fr }}</option>
                </select>
                <a href="javascript: void(0)" (click)="removeGenre(genre)">X</a>
              </div>
              <div *ngIf="genre.id == undefined">
                <input type="text" [(ngModel)]="genre.titles.fr" placeholder="Nom français">
                <input type="text" [(ngModel)]="genre.description" placeholder="Description">
                <a href="javascript: void(0)" (click)="removeGenre(genre)">X</a>
              </div>
            </div>
          </div>
          <p>
            <a href="javascript: void(0)" (click)="addGenre()">+ Ajouter un genre</a>
            <br />
            Si le genre n'est pas sur le site, <a href="javascript: void(0)" (click)="createGenre()">merci de le
              créer</a>.
          </p>
        </td>
      </tr>

      <tr>
        <th>Themes</th>
        <td>
          <div>
            <div *ngFor="let theme of anime.themes">
              <div *ngIf="theme.id != undefined">
                <select [(ngModel)]="theme.id">
                  <option *ngFor="let t of themes" [value]="t.id">{{ t.titles.fr }}</option>
                </select>
                <a href="javascript: void(0)" (click)="removeTheme(theme)">X</a>
              </div>
              <div *ngIf="theme.id == undefined">
                <input type="text" [(ngModel)]="theme.titles.fr" placeholder="Nom français">
                <input type="text" [(ngModel)]="theme.description" placeholder="Description">
                <a href="javascript: void(0)" (click)="removeTheme(theme)">X</a>
              </div>
            </div>
          </div>
          <p>
            <a href="javascript: void(0)" (click)="addTheme()">+ Ajouter un thème</a>
            <br />
            Si le thème n'est pas sur le site, <a href="javascript: void(0)" (click)="createTheme()">merci de le
              créer</a>.
          </p>
        </td>
      </tr>

      <tr>
        <th>Staff</th>
        <td>
          <div>
            <div *ngFor="let staff of anime.staff">
              
              <div *ngIf="staff.id != undefined">
                <input type="text" placeholder="Rechercher" (input)="onSearchPeople($event.target.value)">
                <select [(ngModel)]="staff.people">
                  <option *ngIf="staff.people.id && !peoples.includes(staff.people)" [ngValue]="staff.people">
                    {{ staff.people.firstName }} {{ staff.people.lastName }} / {{ staff.people.pseudo }}
                  </option>
                  <option *ngFor="let p of peoples" [ngValue]="p">
                    {{ p.firstName }} {{ p.lastName }} / {{ p.pseudo }}
                  </option>
                </select>
                <select [(ngModel)]="staff.role">
                  <option *ngFor="let role of staffRole | enum" [value]="role.key">{{ role.value }}</option>
                </select>
                <a href="javascript: void(0)" (click)="removeStaff(staff)">X</a>
              </div>


              <div *ngIf="staff.id == undefined">
                <input type="text" [(ngModel)]="staff.people.firstName" placeholder="Prénom">
                <input type="text" [(ngModel)]="staff.people.lastName" placeholder="Nom">
                <input type="text" [(ngModel)]="staff.people.pseudo" placeholder="Pseudo">
                <select [(ngModel)]="staff.role">
                  <option *ngFor="let role of staffRole | enum" [value]="role.key">{{ role.value }}</option>
                </select>
                <a href="javascript: void(0)" (click)="removeStaff(staff)">X</a>
              </div>
            </div>
          </div>
          <p>
            <a href="javascript: void(0)" (click)="addStaff()">+ Ajouter un staff</a>
            <br />
            Si la personne n'est pas sur le site, <a href="javascript: void(0)" (click)="createStaff()">merci de le
              créer</a>.
          </p>
        </td>
      </tr>

      <tr>
        <th>Franchise</th>
        <td>
          <div>
            <div *ngFor="let franchise of anime.franchise">
              <input type="text" placeholder="Rechercher" (input)="onSearchFranchise($event.target.value)">
              <select [(ngModel)]="franchise.destination">
                <option *ngIf="franchise.destination && !mediaQuery.includes(franchise.destination)" [ngValue]="franchise.destination">
                  {{ franchise.destination.canonicalTitle }} ({{ franchise.destination.jsonApi.schema.type }})
                </option>
                <option *ngFor="let media of mediaQuery" [ngValue]="media">
                  {{ media.canonicalTitle }} ({{ media.jsonApi.schema.type }})
                </option>
              </select>
              <span> is a </span>
              <select [(ngModel)]="franchise.role">
                <option *ngFor="let role of franchiseRole | enum" [value]="role.key">{{ role.value }}</option>
              </select>
              <a href="javascript: void(0)" (click)="removeFranchise(franchise)">X</a>
            </div>
          </div>
          <p>
            <a href="javascript: void(0)" (click)="addFranchise()">+ Ajouter une franchise</a>
          </p>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="submit" (click)="submit()" value="Envoyer">
        </td>
      </tr>

    </tbody>
  </table>
</main>