<main>

  <a routerLink="/anime/{{anime.id}}/edit">Modifier l'anime</a>
            
  <h1>{{ anime.canonicalTitle }}</h1>
  
  <nav>
      <img [src]="anime.coverImage" />
  </nav>
  
  <section>
      
      <article>
          <h2>Statistiques</h2>
          
          <p>{{ anime.averageRating }}</p>
          <p>{{ anime.ratingRank }}</p>
          <p>{{ anime.popularity }}</p>
          <p>{{ anime.userCount }}</p>
          <p>{{ anime.favoritesCount }}</p>
          
      </article>
      
      <article>
          <h2>Synopsis</h2>
          
          <p>{{ anime.synopsis }}</p>
          
      </article>
      
  </section>
  
</main>
