header, .header-bis {
  width: 100%;
  height: 52px;
  margin-bottom: 20px;
}

header {
  align-items: center;
  background: var(--background-primary-color);
  box-shadow: 0 2px 3px rgb(0 0 0 / 30%);
  display: flex;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-brand {
  margin-right: 32px;
}

.mangajap-logo {
  height: 30px;
  width: auto;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  /* color: var(--accent-color); */
  margin-right: 32px;
  font-size: 1.2em;
  font-weight: bold;
}

.mangajap-search {
  height: 34px;
  width: 100%;
  align-self: center;
  background: #f7f7f7;
  border: none;
  box-shadow: none;
  padding: 6px 12px;
  border-radius: 5px;
  margin-right: 32px;
}

.authentication-menu {
  display: flex;
}

.authentication-menu> :not(:last-child) {
  margin-right: 14px;
}

.authentication-menu>* {
  padding: 6px 12px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}