<h2>{{ season.anime.title }}</h2>

<table>
  <tbody>

    <tr>
      <th>Numéro de la saison</th>
      <td>
        <input type="number" [(ngModel)]="season.number">
      </td>
    </tr>

    <tr>
      <th>Titre alternatifs</th>
      <td>
        <div *ngFor="let title of season.titles | keyvalue:unsorted; let index = index">
          <select [ngModel]="title.key | lowercase" (change)="onTitleLanguageChanged(index, $event.target.value)">
            <option disabled selected value>------</option>
            <option *ngFor="let language of languages" [value]="language.code | lowercase">{{ language.name }}</option>
          </select>
          <input type="text" [ngModel]="season.titles[title.key]"
            (change)="season.titles[title.key] = $event.target.value">
          <a href="javascript: void(0)" (click)="onTitleLanguageRemoved(index)">X</a>
        </div>
        <a href="javascript: void(0)" (click)="onTitleLanguageAdded()">Ajouter un titre</a>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" (click)="submit()" value="Envoyer">
      </td>
    </tr>

  </tbody>
</table>
