<div class="container">
            
  <h1>{{ user.pseudo }}</h1>
  
  <nav>
      <img *ngIf="user.avatar" [src]="user.avatar.original" />
      
      <p>{{ user.firstName }} {{ user.lastName }}</p>
      
      <p>{{ user.followedMangaCount }}</p>
      <p>{{ user.volumesRead }}</p>
      <p>{{ user.chaptersRead }}</p>

      <p>{{ user.followedAnimeCount }}</p>
      <p>{{ user.episodesWatch }}</p>
      <p>{{ user.timeSpentOnAnime }}</p>
      
  </nav>
  
  <section>
      
      
      
  </section>
  
</div>