<table>
  <tbody>

    <tr>
      <th>Prénom</th>
      <td>
        <input type="text" [(ngModel)]="people.firstName">
      </td>
    </tr>

    <tr>
      <th>Nom</th>
      <td>
        <input type="text" [(ngModel)]="people.lastName">
      </td>
    </tr>

    <tr>
      <th>Pseudo</th>
      <td>
        <input type="text" [(ngModel)]="people.pseudo">
        <small>Si existant</small>
      </td>
    </tr>

    <tr>
      <th>Image</th>
      <td>
        <img [src]="people.image" alt="Image">
        <input type="file" accept="image/*" (change)="onImageChanged($event.target.files[0])">
        <a href="javascript: void(0)" (click)="onImageChanged(null)">X</a>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" (click)="submit()" value="Envoyer">
      </td>
    </tr>

  </tbody>
</table>