main {
  padding: 0 5%;
}

.manga-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.manga-grid .manga-item {
  height: auto;
}

.manga-item {
  padding: 5px;
  position: relative;
}

.manga-cover {
  width: 100%;
  height: 254px;
  display: block;
  object-fit: cover;
}

.manga-link {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.manga-title {
  height: 45px;
  background: #000000;
  color: #ffffff;
  line-height: 42px;
  text-align: center;
  overflow: hidden;
}

.manga-title span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}



/* Écrans larges */
@media (min-width:1200px) {
  .manga-grid .manga-item {
      width: 16.666666%;
  }
}

/* Ordinateurs */
@media (min-width:992px) and (max-width: 1199px) {
  .manga-grid .manga-item {
      width: 20%;
  }
}

/* Tablettes à petits écrans */
@media (min-width:768px) and (max-width: 991px) {
  .manga-grid .manga-item {
      width: 25%;
  }
}

/* De smartphones à tablettes */
@media (min-width:481px) and (max-width:767px) {
  .manga-grid .manga-item {
      width: 50%;
  }
}

/* Smartphones */
@media (min-width:320px) and (max-width: 480px) {
  .manga-grid .manga-item {
      width: 100%;
  }
}
