<table>
  <tbody>

    <tr>
      <th>Titre</th>
      <td>
        <input type="text" [(ngModel)]="manga.title">
      </td>
    </tr>

    <tr>
      <th>Titre français</th>
      <td>
        <input type="text" [(ngModel)]="manga.titles.fr">
      </td>
    </tr>

    <tr>
      <th>Titre anglais</th>
      <td>
        <input type="text" [(ngModel)]="manga.titles.en">
      </td>
    </tr>

    <tr>
      <th>Titre romanisé</th>
      <td>
        <input type="text" [(ngModel)]="manga.titles.en_jp">
      </td>
    </tr>

    <tr>
      <th>Titre japonais</th>
      <td>
        <input type="text" [(ngModel)]="manga.titles.ja_jp">
      </td>
    </tr>

    <tr>
      <th>Date de sortie</th>
      <td>
        <input type="date" [(ngModel)]="manga.startDate">
      </td>
    </tr>

    <tr>
      <th>Date de fin</th>
      <td>
        <input type="date" [(ngModel)]="manga.endDate">
      </td>
    </tr>

    <tr>
      <th>Pays</th>
      <td>
        <select [(ngModel)]="manga.origin">
          <option *ngFor="let origin of mangaOrigin | enum" [value]="origin.key">{{ origin.value }}</option>
        </select>
      </td>
    </tr>

    <tr>
      <th>Status de publication</th>
      <td>
        <select [(ngModel)]="manga.status">
          <option *ngFor="let status of mangaStatus | enum" [value]="status.key">{{status.value}}</option>
        </select>
      </td>
    </tr>

    <tr>
      <th>Type</th>
      <td>
        <select [(ngModel)]="manga.mangaType">
          <option *ngFor="let type of mangaType | enum" [value]="type.key">{{type.value}}</option>
        </select>
      </td>
    </tr>

    <tr>
      <th>Nombre de volumes</th>
      <td>
        <input type="number" [(ngModel)]="manga.volumeCount" (ngModelChange)="updateVolumes()">
        <div id="volume-container" style="max-height: 600px; overflow-y: auto">
          <div *ngFor="let volume of manga.volumes">
            <span>{{ volume.number }}</span>
            <input type="text" [(ngModel)]="volume.titles.fr" placeholder="Titre fr">
            <input type="text" [(ngModel)]="volume.titles.en" placeholder="Titre en">
            <input type="text" [(ngModel)]="volume.titles.en_jp" placeholder="Titre en_jp">
            <input type="text" [(ngModel)]="volume.titles.ja_jp" placeholder="Titre ja_jp">
            <input type="number" [(ngModel)]="volume.startChapter" placeholder="Start chapter">
            <input type="number" [(ngModel)]="volume.endChapter" placeholder="End chapter">
            <input type="date" [(ngModel)]="volume.published" placeholder="Date de publication">
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <th>Nombre de chapitres</th>
      <td>
        <input type="number" [(ngModel)]="manga.chapterCount">
      </td>
    </tr>

    <tr>
      <th>Synopsis</th>
      <td>
        <textarea rows="8" cols="33" [(ngModel)]="manga.synopsis"></textarea>
      </td>
    </tr>

    <tr>
      <th>Image</th>
      <td>
        <img [src]="manga.coverImage" alt="coverImage">
        <input type="file" accept="image/*" (change)="updateCover($event.target.files[0])">
      </td>
    </tr>

    <tr>
      <th>Bannière</th>
      <td>
        <img [src]="manga.bannerImage" alt="bannerImage">
        <input type="file" accept="image/*" (change)="updateBanner($event.target.files[0])">
      </td>
    </tr>

    <tr>
      <th>Genres</th>
      <td>
        <fieldset>
          <div style="display: grid; grid-template: auto / auto auto auto auto;">
            <div *ngFor="let genre of genres">
              <input type="checkbox" (change)="onGenreChecked(genre, $event.target.checked)"
                [checked]="genreIsAdded(genre)" />
              <span>{{ genre.title }}</span>
            </div>
          </div>
      
          <div>
            <div *ngFor="let genre of manga.genres | filter:'id':undefined">
              <input type="text" [(ngModel)]="genre.title" placeholder="Nom">
              <input type="text" [(ngModel)]="genre.description" placeholder="Description">
              <a href="javascript: void(0)" (click)="removeGenre(genre)">X</a>
            </div>
            <a href="javascript: void(0)" (click)="createGenre()">Créer</a>
          </div>
        </fieldset>
      </td>
    </tr>

    <tr>
      <th>Thèmes</th>
      <td>
        <fieldset>
          <div style="display: grid; grid-template: auto / auto auto auto auto;">
            <div *ngFor="let theme of themes">
              <input type="checkbox" (change)="onThemeChecked(theme, $event.target.checked)"
                [checked]="themeIsAdded(theme)" />
              <span>{{ theme.title }}</span>
            </div>
          </div>
      
          <div>
            <div *ngFor="let theme of manga.themes | filter:'id':undefined">
              <input type="text" [(ngModel)]="theme.title" placeholder="Nom">
              <input type="text" [(ngModel)]="theme.description" placeholder="Description">
              <a href="javascript: void(0)" (click)="removeTheme(theme)">X</a>
            </div>
            <a href="javascript: void(0)" (click)="createTheme()">Créer</a>
          </div>
        </fieldset>
      </td>
    </tr>

    <tr>
      <th>Staff</th>
      <td>
        <div>
          <div>
            <input type="text" placeholder="Rechercher" (input)="onSearchPeople($event.target.value)">
            <select (change)="onStaffAdded($event.target.value)">
              <option disabled selected value>------</option>
              <option *ngFor="let people of peoples; let i = index" [value]="i">
                {{ people.firstName }} {{ people.lastName }} / {{ people.pseudo }}
              </option>
            </select>
          </div>
      
          <div style="display: flex; column-gap: 10px;">
            <div *ngFor="let staff of manga.staff" style="display: flex; flex-direction: column; align-items: center;">
              <img [src]="staff.people.image" [alt]="staff.people.firstName + ' ' + staff.people.lastName">
              <a href="/people/{{ staff.people.id }}">
                {{ staff.people.firstName }} {{ staff.people.lastName }}
              </a>
              <small>{{ staff.people.pseudo }}</small>
              <select [(ngModel)]="staff.role">
                <option disabled selected value>------</option>
                <option *ngFor="let role of staffRole | enum" [value]="role.key">{{ role.value }}</option>
              </select>
              <a href="javascript: void(0)" (click)="removeStaff(staff)">X</a>
            </div>
          </div>
      
          <div *ngFor="let staff of manga.staff">
      
            <div *ngIf="staff.id == undefined">
              <input type="text" [(ngModel)]="staff.people.firstName" placeholder="Prénom">
              <input type="text" [(ngModel)]="staff.people.lastName" placeholder="Nom">
              <input type="text" [(ngModel)]="staff.people.pseudo" placeholder="Pseudo">
              <select [(ngModel)]="staff.role">
                <option *ngFor="let role of staffRole | enum" [value]="role.key">{{ role.value }}</option>
              </select>
              <a href="javascript: void(0)" (click)="removeStaff(staff)">X</a>
            </div>
      
          </div>
      
          <p>
            Si la personne n'est pas sur le site, <a routerLink="/people/add" target="_blank">merci de le créer</a>.
          </p>
        </div>
      </td>
    </tr>

    <tr>
      <th>Franchise</th>
      <td>
        <div>
          <div>
            <input type="text" placeholder="Rechercher" (input)="onFranchiseSearch($event.target.value)">
            <select (change)="onFranchiseAdded($event.target.value)">
              <option disabled selected value>------</option>
              <option *ngFor="let media of mediaQuery; let i = index" [value]="i">
                {{ media.title }} ({{ media.jsonApi.schema.type }})
              </option>
            </select>
          </div>
      
          <div style="display: flex; column-gap: 10px;">
            <div *ngFor="let franchise of manga.franchises"
              style="display: flex; flex-direction: column; align-items: center;">
      
              <!-- ANIME -->
              <ng-container *ngIf="(franchise.destination | jsonApiType) === 'anime'">
                <img [src]="franchise.destination.coverImage" [alt]="franchise.destination.title">
                <a href="/anime/{{ franchise.destination.id }}" target="_blank">
                  {{ franchise.destination.title }}
                </a>
                <small>Anime</small>
              </ng-container>
      
              <!-- MANGA -->
              <ng-container *ngIf="(franchise.destination | jsonApiType) === 'manga'">
                <img [src]="franchise.destination.coverImage" [alt]="franchise.destination.title">
                <a href="/manga/{{ franchise.destination.id }}" target="_blank">
                  {{ franchise.destination.title }}
                </a>
                <small>Manga</small>
              </ng-container>
      
              <select [(ngModel)]="franchise.role">
                <option disabled selected value>------</option>
                <option *ngFor="let role of franchiseRole | enum" [value]="role.key">{{ role.value }}</option>
              </select>
              <a href="javascript: void(0)" (click)="removeFranchise(franchise)">X</a>
      
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" (click)="submit()" value="Envoyer">
      </td>
    </tr>

  </tbody>
</table>